[user]
	name = Diego Souza
	email = diegosouza.br@gmail.com
[color]
	ui = true
[pull]
    rebase = true
[push]
	default = current
[core]
	editor = vim
	excludesfile = ~/.gitignore
    pager = delta
[interactive]
    diffFilter = delta --color-only
[delta]
    line-numbers = true
    side-by-side = true
    minus-style = red bold
    plus-style = green bold
[merge]
	tool = meld
[diff]
	tool = meld
[credential]
	helper = cache --timeout=10800
